@import "./reset.scss";

::-webkit-scrollbar {
	width: 20px;
}

::-webkit-scrollbar-track {
	background: #001529;
}

::-webkit-scrollbar-thumb {
	width: 20px;
	background: yellowgreen;
	border-radius: 10px;
}